[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "pytorch"

[packages]
pandas = "*"
notebook = "*"
scikit_learn = "*"
sentencepiece = "*"
graphviz = "*"
ipywidgets = "*"
matplotlib = "*"
nbdev = "*"
torch = {version = "==1.10.1+cpu", index = "pytorch"}
fastbook = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
shell = "ipython"
nb = "jupyter notebook"